/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  padding: .2em 0;
  margin: .2em 0;
  color: #000;
  background: #ccc;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  background-color: transparent;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
 (-o-min-device-pixel-ratio: 5/4),
 (-webkit-min-device-pixel-ratio: 1.25),
 (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: .5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  width: 5000%;
  font-family: 'Amatic SC', Helvetica, arial, sans serif;
}

/* ==========================================================================
   Cloud styles
   ========================================================================== */

.cloud-container {
 height: 98px;
 background: url("../img/clouds.svg");
}

.fp {
  position: fixed;
  bottom: 3px;
  left: 7%;
  z-index: 2;
  width: 140px;
  height: 230px;
  -webkit-transition: left 1.5s ease-out;
  -moz-transition: left 1.5s ease-out;
  -ms-transition: left 1.5s ease-out;
  -o-transition: left 1.5s ease-out;
  transition: left 1.5s ease-out;
}

.eatable {
  position: absolute;
  bottom: 139px;
  height: 36px;
}

.css3 {
  left: 1500px;
}

.html5 {
  left: 2500px;
}

.nodejs {
  left: 3500px;
}

.road {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 1000%;
  height: 8px;
  background-image: url("../img/road.svg");
}

.skyline {
  position: absolute;
  bottom: 7px;
  left: 0;
  z-index: 1;
  width: 10000px;
  height: 46px;
  background-image: url("../img/skyline.svg");
}

.before-load {
  left: -100px;
}

.slide-right {
  left: 5%;
}

.slide-left {
  left: 9%;
}

.story {
  position: fixed;
  right: 0;
  bottom: 300px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 2px;
  list-style: none;

  li {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0;
    -webkit-transition: .6s all ease;
    -moz-transition: .6s all ease;
    -ms-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease;

    &.active {
      bottom: 0;
      opacity: 1;
      -webkit-transition-delay: 1s;
      -moz-transition-delay: 1s;
      -ms-transition-delay: 1s;
      -o-transition-delay: 1s;
      transition-delay: 1s;
    }
  }
}

.storyline {
  text-align: justify;
  word-spacing: 40px;
  font-sizing: 40px;
}