/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  padding: .2em 0;
  margin: .2em 0;
  color: #000;
  background: #ccc;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  background-color: transparent;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
 (-o-min-device-pixel-ratio: 5/4),
 (-webkit-min-device-pixel-ratio: 1.25),
 (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: .5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'kg_primary_penmanship_2Rg';
    src: url('../fonts/kgprimarypenmanship2-webfont.eot');
    src: url('../fonts/kgprimarypenmanship2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kgprimarypenmanship2-webfont.woff') format('woff'),
         url('../fonts/kgprimarypenmanship2-webfont.ttf') format('truetype'),
         url('../fonts/kgprimarypenmanship2-webfont.svg#kg_primary_penmanship_2Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  wi6th: 17500px;
  font-family: 'kg_primary_penmanship_2Rg', Helvetica, arial, sans serif;
}

/* ==========================================================================
   Cloud styles
   ========================================================================== */

.cloud-container {
  position: absolute;
  left: 0;
  bottom: 450px;
  width: 17600px;
  height: 98px;
  background: url("../img/clouds.svg");
}

.fp {
  position: fixed;
  bottom: 3px;
  left: 7%;
  z-index: 2;
  width: 140px;
  height: 230px;
  -webkit-transition: left 1s ease-out;
  -moz-transition: left 1s ease-out;
  -ms-transition: left 1s ease-out;
  -o-transition: left 1s ease-out;
  transition: left 1s ease-out;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.eatable {
  position: absolute;
  height: 35px;
  bottom: 139px;
}

.road {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 17600px;
  height: 8px;
  background-image: url("../img/road.svg");
}

.skyline {
  position: absolute;
  bottom: 7px;
  left: 0;
  z-index: 1;
  width: 17600px;
  height: 46px;
  background-image: url("../img/skyline.svg");
}

.before-load {
  left: -100px;
}

.slide-right {
  left: 5%;
}

.slide-left {
  left: 9%;
}

.left-gradient,
.right-gradient {
  position: fixed;
  bottom:  300px;
  z-index: 1;
  width: 300px;
  height: 56px;
}

.left-gradient {
  left: 0;
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='rgba(255,255,255,0)',GradientType=0 );
}

.right-gradient {
  right: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255,255,255,0)', endColorstr='#ffffff',GradientType=0 );
}

.right-gradient {
  right: 0;
}

.storyline {
  position: absolute;
  bottom: 300px;
  margin: 0;
  padding: 0 250px;
  word-spacing: 25px;
  font-size: 40px;
  white-space: nowrap;
}

.scroll-helper {
  position: fixed;
  bottom: 80px;
  right: 20px;
  font-size: 47px;
  -webkit-animation: pointing 1.5s infinite;
  -moz-animation: pointing 1.5s infinite;
  -ms-animation: pointing 1.5s infinite;
  -o-animation: pointing 1.5s infinite;
  animation: pointing 1.5s infinite;
}

@-webkit-keyframes pointing {
  0% { right: 20px; }
  50% { right: 30px; }
}

.web {
  height: 28px;
  left: 1000px;
}
.cap { left: 1630px; }
.awesome { left: 2270px; }
.console { left: 3380px; }
.servers {
  height: 30px;
  left: 4750px;
}
.frontend { left: 5500px; }
.design { left: 6850px; }
.serious { left: 8000px; }
.happy { left: 8970px; }
.chicken { left: 10500px; }
.beer { left: 10947px; }
.guitar { left: 11533px; }
.html5 { left: 12369px; }
.css3 { left: 12498px; }
.js { left: 12652px; }
.ng { left: 12848px; }
.d3 { left: 12986px; }
.sass { left: 13095px; }
.illustrator { left: 13331px; }
.github { left: 13790px; }
.mail { left: 16186px; }
.twitter { left: 16384px; }